@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-family: "Quicksand", sans-serif;
}
