@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-family: "Quicksand", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > section {
    padding: 40px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1000px) {
}
section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-width: 1000px) {
}

img {
    width: 450px;
    height: 550px;
    object-fit: none;
    border-radius: 30px;
}

button {
    height: 70px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #ff5c31;
    padding: 10px;
    border-radius: 0 30px 30px 30px;
    color: white;
    background-color: #ff5c31;
}
button:hover {
    border: 3px solid #ff5c31;
    color: #ff5c31;
    background-color: white;
}

h1 {
    color: #ff5c31;
    font-size: 30px;
}

h2 {
    font-size: 70px;
}
