@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: "Quicksand", sans-serif;
}

body {
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > section {
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section:last-child {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-width: 1000px) {
    section {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

img {
    width: 500px;
    object-fit: none;
    border-radius: 30px;
}

button {
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #ff5c31;
    padding: 20px 30px;
    border-radius: 0 30px 30px 30px;
    color: white;
    background-color: #ff5c31;
}
button:hover {
    border: 3px solid #ff5c31;
    color: #ff5c31;
    background-color: white;
}

h1 {
    color: #ff5c31;
    font-size: 15px;
}
