@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
}

html {
    font-family: "Quicksand", sans-serif;
}

body {
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
