@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-family: "Quicksand", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > section {
    padding: 40px;
    margin-bottom: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1000px) {
    main > section {
        width: 100%;
        flex-direction: row;
    }
}
section:last-child {
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (min-width: 1000px) {
    section:last-child {
        height: auto;
        flex-direction: row;
    }
}

img {
    width: 550px;
    height: 450px;
    object-fit: none;
    border-radius: 30px;
    box-shadow: 3px 1px 10px 1px grey;
}

@media (min-width: 1000px) {
    img {
        width: 450px;
        height: 550px;
    }
}

button {
    height: 70px;
    width: 150px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #ff5c31;
    padding: 10px;
    border-radius: 0 30px 30px 30px;
    color: white;
    background-color: #ff5c31;
}
button:hover {
    border: 3px solid #ff5c31;
    color: #ff5c31;
    background-color: white;
}

h1 {
    color: #ff5c31;
    font-size: 30px;
    white-space: nowrap;
}

h2 {
    font-size: 70px;
    white-space: nowrap;
}
article {
    position: relative;
}
img ~ div {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img ~ div:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

span:last-child {
    font-size: 40px;
    font-weight: bold;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
